@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

//Primary Colors
$PrimaryGray: hsl(0, 0%, 59%);
$PrimaryVeryDarkBlue: hsl(209, 33%, 12%);

//Font weights
$FontWeightLite:300;
$FontWeightMedium:600;
$FontWeightHeavy:700;

$BreakPoint:701px;
$InputElementHeight:48px;
$TopMarginMinMultiple:6px;